@import "variables";

.small-state {
  .rt-image-upload__controls {
    border: $displayNone;
    display: $displayInlineBlock;
    width: 100%;
    &:hover {
      background-color: $unset;
    }
    .rt-image-container {
      border: 2px dotted rgba(0, 0, 0, 0.12);
      width: 30%;
      &:hover {
        background: rgba(0, 0, 255, 0.15);
        border-color: $blue;
      }
    }
    .rt-image-upload__actions {
      width: 50%;
      padding-left: 15px;
      .rt-image-input__label {
        top: 0;
        bottom: $unset;
        position: $positionRel;
        color: $gray;
        display: $displayBlock;
        text-align: $textLeft;
        font-size: 14px;
        padding: $zeroPadding;
      }
      .buttons {
        display: $displayBlock;
        position: $positionRel;
        top: $unset;
        left: $unset;
        transform: $unset;
        button {
          display: $displayInlineBlock;
          border: 1px solid transparent;
          text-align: $textLeft;
          padding: $zeroPadding;
          cursor: pointer;
          width: 70px;
        }
        .attach {
          color: $blue;
        }
        .delete {
          display: $displayNone;
        }
      }
    }
    .rt-image-container,
    .rt-image-upload__actions {
      float: $floatLeft;
      height: 150px;
    }
    &.--has-image {
      .rt-image-container {
        border: $zeroBorder;
        &:hover {
          border: $zeroBorder;
        }
      }
      .delete {
        display: $displayInlineBlock !important;
        &:hover {
          background: $unset;
        }
      }
      &:hover {
        .rt-image-upload__actions {
          background: $unset;
          position: $positionRel;
        }
      }
    }
  }
}
