// Color variables
$blue: blue;
$gray: gray;

// Default value variable
$unset: unset;

// Border variables
$zeroBorder: 0;

// Padding variables
$zeroPadding: 0;

// Position variables
$positionRel: relative;

// Text align variables
$textCenter: center;
$textLeft: left;
$textRight: right;

//Float variables
$floatLeft: left;
$floatRight: right;

// Display variables
$displayBlock: block;
$displayNone: none;
$displayInlineBlock: inline-block;
